
:root {
  --default-font: 'Nunito', sans-serif; /* Matches styles.css */
  --heading-font: 'Nunito', sans-serif; /* Unified font for headings */
  --nav-font: 'Nunito', sans-serif; /* Matches the body font for consistency */
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  /* Global Colors */
  --background-color: #EAEAEA; /* Light neutral background */
  --default-color: #73628A; /* Darker text color */
  --heading-color: #313D5A; /* Stronger color for headings */
  --accent-color: #CBC5EA; /* Accent color for highlights */
  --surface-color: #ffffff; /* White background for cards and elements */
  --contrast-color: #ffffff; /* Contrast for text against dark backgrounds */

}

:root {
  /* Navigation Specific Colors */
  --nav-color: #ffffff; /* Matches the background */
  --nav-hover-color: #CBC5EA; /* Matches the accent color */
  --nav-mobile-background-color: #ffffff; /* Matches the background */
  --nav-dropdown-background-color: #ffffff; /* Matches the background */
  --nav-dropdown-color: #313D5A; /* Matches default text color */
  --nav-dropdown-hover-color: #CBC5EA; /* Matches the accent color */
}

.light-background {
  --background-color: #EAEAEA; /* Matches the light neutral background */
  --surface-color: #ffffff; /* Keeps white for boxed elements */
}

.dark-background {
  --background-color: #313D5A; /* Matches the darkest shade from the new palette */
  --default-color: #CBC5EA; /* Light accent color for text */
  --heading-color: #CBC5EA; /* Consistent with default-color for better readability */
  --surface-color: #73628A; /* A slightly lighter tone for boxed elements */
  --contrast-color: #ffffff; /* Ensures text readability on dark surfaces */
}


:root {
  scroll-behavior: smooth;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--heading-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--heading-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  --background-color: #AFA5D9;;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 20px 0;
  transition: all 0.5s;
  z-index: 100;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 32px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: var(--heading-color);
}

.scrolled .header {
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/* Global Header on Scroll
------------------------------*/
.scrolled .header {
  --background-color: #9d94c3;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu>ul>li {
    white-space: nowrap;
    padding: 15px 14px;
  }

  .navmenu>ul>li:last-child {
    padding-right: 0;
  }

  .navmenu a,
  .navmenu a:focus {
    color: color-mix(in srgb, var(--nav-color), transparent 20%);
    font-size: 15px;
    padding: 0 2px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu>ul>li>a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--nav-hover-color);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navmenu a:hover:before,
  .navmenu li:hover>a:before,
  .navmenu .active:before {
    visibility: visible;
    width: 25px;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-color);
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-color);
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
}

/* Mobile Navigation */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 100;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-mobile-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 100;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, var(--heading-color), transparent 90%);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: var(--heading-color);
    color: var(--contrast-color);
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 100;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}


/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  position: relative;
}

.footer .footer-top {
  padding-top: 50px;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .footer-about .logo {
  line-height: 1;
  margin-bottom: 25px;
}

.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-about .logo span {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: var(--heading-font);
  color: var(--heading-color);
}

.footer .footer-about p {
  font-size: 14px;
  font-family: var(--heading-font);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
  font-size: 16px;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-links ul a:hover {
  color: var(--accent-color);
}

.footer .footer-contact p {
  margin-bottom: 5px;
}

.footer .footer-newsletter .newsletter-form {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 6px 8px;
  position: relative;
  border-radius: 4px;
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 80%);
  display: flex;
  background-color: var(--background-color);
  transition: 0.3s;
}
.footer .copyright {
  padding: 25px 0;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.footer .copyright p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  position: relative;
}

.page-title .heading {
  padding: 160px 0 80px 0;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.page-title .heading h1 {
  font-size: 38px;
  font-weight: 700;
}

.page-title nav {
  background-color: color-mix(in srgb, var(--default-color), transparent 88%);
  padding: 20px 0;
}

.page-title nav ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.page-title nav ol li+li {
  padding-left: 10px;
}

.page-title nav ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  position: relative;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--heading-color);
  margin: 4px 10px;
}

.section-title div {
  color: var(--heading-color);
  margin: 0;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 120px 0;
  display: flex;
  align-items: center;
}

.hero .hero-bg {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero:before {
  content: "";
  background: color-mix(in srgb, var(--heading-color), transparent 10%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: color-mix(in srgb, var(--heading-color), transparent 30%);
}

.hero h1 span {
  color: var(--heading-color);
  border-bottom: 4px solid var(--heading-color);
}

.hero p {
  color: color-mix(in srgb, var(--heading-color), transparent 30%);
  margin: 5px 0 30px 0;
  font-size: 22px;
  font-weight: 400;
}

.hero .hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.hero .wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
  fill: #AFA5D9;
  opacity: 0.7;
}

.hero .wave2 use {
  animation: move-forever2 8s linear infinite;
  animation-delay: -2s;
  fill: #73628A;
  opacity: 0.5;
}

.hero .wave3 use {
  animation: move-forever3 6s linear infinite;
  animation-delay: -2s;
  fill: #313D5A;
  opacity: 0.4;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@media (max-width: 640px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 13px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about {
  padding-top: 50px;
}

.about .content h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 10px 20px;
  background: color-mix(in srgb, var(--accent-color), transparent 10%);
  color: var(--heading-color);
  border-radius: 7px;
  display: inline-block;
}

.about .content h2 {
  font-weight: 700;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .icon-box {
  background-color: var(--surface-color);
  padding: 50px 40px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease-out 0s;
}

.about .icon-box i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 0;
  transition: all 0.4s ease-out 0s;
  background-color: color-mix(in srgb, var(--accent-color), transparent 75%);
  color: var(--default-color);
}

.about .icon-box h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}

.about .icon-box p {
  margin-bottom: 0;
}

.about .icon-box:hover i {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.about .icon-boxes .col-md-6:nth-child(2) .icon-box,
.about .icon-boxes .col-md-6:nth-child(4) .icon-box {
  margin-top: -40px;
}

@media (max-width: 768px) {

  .about .icon-boxes .col-md-6:nth-child(2) .icon-box,
  .about .icon-boxes .col-md-6:nth-child(4) .icon-box {
    margin-top: 0;
  }
}

/* Custom Background for Login Page */
.custom-login-bg {
    background-color: rgba(var(--heading-color-rgb), 0.9); /* Dark blue with transparency */
    background-image: linear-gradient(to right, rgba(var(--heading-color-rgb), 0.8), rgba(var(--heading-color-rgb), 0.6)); /* Gradient effect */
    min-height: 100vh; /* Full height of the page */
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    padding: 5rem 2rem 1rem; /* Padding adjustments */
}

/* Container for the form */
.auth-container {
    width: 100%; /* Make container take full width */
    max-width: 600px; /* Maximum width for larger screens */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Uniform design for all form controls, including inputs, selects, and text areas */
/* Ensures all form fields, including student ID and professor email, follow the same design */
.form-control,
.custom-select,
.custom-input,
button[type="submit"] {
    width: 100%; /* Ensures inputs and selects take full width */
    padding: 1rem; /* Padding for a better touch area */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid var(--accent-color); /* Accent border color */
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
    color: var(--contrast-color); /* Text color */
    font-size: 1rem; /* Uniform font size */
    margin-bottom: 1.5rem; /* Space between inputs */
    box-sizing: border-box; /* Includes padding in width calculation */
    color: #444444;
}

/* Remove default Bootstrap green border on focus */
.form-control:focus,
.custom-select:focus,
.custom-input:focus{
    outline: none; /* Remove outline on focus */
    border-color: var(--accent-color); /* Use your custom border color */
    box-shadow: none; /* Remove default focus shadow */
}

/* Apply custom design to input fields using ID selectors */
#student-id-group input,
#professor-email-group input,
#course-group select,
#section-group select {
    width: 100%; /* Ensure full width */
    padding: 1rem; /* Consistent padding */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid var(--accent-color); /* Accent border color */
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
    color: #444444; /* Dark gray text color for better visibility */
    font-size: 1rem; /* Uniform font size */
    margin-bottom: 1.5rem; /* Space between inputs */
    box-sizing: border-box; /* Includes padding in width calculation */
}

/* Remove default Bootstrap focus outline and shadow for selects */
#course-group select:focus,
#section-group select:focus,
#student-id-group input:focus,
#professor-email-group input:focus {
    outline: none; /* Remove outline on focus */
    border-color: var(--accent-color); /* Accent border color on focus */
    box-shadow: none; /* Remove default focus shadow */
}

/* Ensure better visibility for placeholder text */
#student-id-group input::placeholder,
#professor-email-group input::placeholder,
#course-group select::placeholder,
#section-group select::placeholder {
    color: #444444; /* Lighter gray for placeholder text */
}



/* Styling for the select dropdown */
.custom-select {
    font-size: 1rem; /* Increase font size for readability */
    padding: 1rem; /* Consistent padding */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid var(--accent-color); /* Accent border color */
    width: 100%; /* Ensures selects take full width */
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
    color: #444444; /* Text color */
    box-sizing: border-box; /* Includes padding in width calculation */
    margin-bottom: 1.5rem; /* Space between selects */

}


/* Submit button styles */
button[type="submit"] {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    font-size: 1.1rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: darken(var(--accent-color), 10%);
}

/* Spacing for the input groups */
.input-group.mb-3 {
    width: 100%; /* Ensures input groups take up full width */
    margin-bottom: 1.5rem; /* Space between fields */
}

/* Flash message container */
.flash-messages {
    list-style-type: none; /* Remove default list style */
    padding: 0;
    margin: 0;
    position: absolute; /* Position it at the top of the page */
    top: 20px;
    left: 50%;
    transform: translateX(-50%); /* Center the messages */
    z-index: 100;
}

/* Styling for each flash message */
.flash-message {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background with some transparency */
    color: white; /* Text color */
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0; /* Space between flash messages */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Fade and slide out effect */
}

/* Specific styles for different categories of messages */
.flash-message.success {
    background-color: #28a745; /* Green background for success */
}

.flash-message.error {
    background-color: #dc3545; /* Red background for error */
}

.flash-message.warning {
    background-color: #ffc107; /* Yellow background for warnings */
}

.flash-message.info {
    background-color: #17a2b8; /* Blue background for informational messages */
}

/* Close button styles */
.close-flash {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

/* Automatically hide the flash message after 2-3 seconds */
.flash-message.hide {
    opacity: 0;
    transform: translateY(-20px); /* Move the message slightly up when fading out */
}



